body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 70px auto 0;
  color: #54BAB9;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #54BAB9;
  font-weight: 600;
  margin: 40px auto;
}

span {
  text-decoration: underline;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: 900;
}

.hello-p {
  width: 30%;
  margin: auto;
  text-align: center;
  line-height: 2;
}

hr {
  border-top-style: dotted;
  border-right: none;
  border-left: none;
  border-bottom: none;
  width: 5%;
  border-width: 7px;
  border-color: #c0c0c0;
  margin: 100px auto;
}

a {
  color: #11999E;
}

.first-h2 {
  margin: 10px auto 60px;
}

.top-container {
  background-color: #FBF8F1;
  position: relative;
  padding-top: 7%;
}

.top-cloud {
  position: absolute;
  top: 10%;
  right: 30%;
}

.bottom-cloud {
  position: absolute;
  bottom: 45%;
  left: 30%;
}

.me {
  width: 250px;
  border: 3px double #E9DAC1;
  border-radius: 150%;
  padding: 5px;
  margin: 50px auto 5px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: justify;
  line-height: 2;
}

.brain {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cat {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.end-p {
  width: 40%;
  margin: 40px auto 60px;
  text-align: center;
  line-height: 2;
}

.contact-me {
  margin: 50px auto;
}

.btn {
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-container {
  background-color: #66BFBF;
  padding: 20px 0;
}

.links-container {
  display: flex;
  justify-content: center;
  padding: 20px 0 30px;
}

.links-container a {
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.links-container a:hover {
  color: #EAF6F6;
}

.github {
  margin-bottom: 0;
  margin-top: 40px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.github:hover {
  color: #11999E;
}
